<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCo_We9HYQMWSC3ofD_U3ZQCkds4Ea_-yY</string>
	<key>GCM_SENDER_ID</key>
	<string>690291656518</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.swifttasks.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>swifttasks-92062</string>
	<key>STORAGE_BUCKET</key>
	<string>swifttasks-92062.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:690291656518:ios:d08991940033c8c9310747</string>
</dict>
</plist>